<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.power.mercenary">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/yongbingicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon, android:label,android:theme">
        <activity android:name=".activity.LancherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

       <!-- <service
            android:name="cn.jpush.android.service.PushService"
            android:process=":multiprocess"
            tools:node="replace" />-->



        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".activity.SignInActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SetupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HelpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AboutUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SecurityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ModifyPhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ModifyEmailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ModifyPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ProblemFeedbackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ModifyNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ModifyNicknameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyFollowActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyValueActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyBankCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SmallChangeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WithdrawalsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WithdrawalsDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CardMsgActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyCollection"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyExtensionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyQualificationsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GZNXActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HYActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TCActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ZWJCActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PersonalRZActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.IDnumberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CertificateUploadingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TaskStatisticsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyAchievementActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ForgetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.HomePostPicActivity" />
        <activity
            android:name=".activity.ReleaseTaskActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.PubPaotuiActivity" />
        <activity android:name=".activity.PubShenghuoActivity" />
        <activity android:name=".activity.PubGerendingzhiActivity" />
        <activity android:name=".activity.PubGongzuoActivity" />
        <activity android:name=".activity.PubJiankangActivity" />
        <activity android:name=".activity.PubQitaActivity" />
        <activity android:name=".activity.JKTaskZhonDetailsActivity" />
        <activity
            android:name=".activity.LocationActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:name=".activity.TaskListActivity" />
        <activity android:name=".activity.PTTaskDetailsActivity" />
        <activity android:name=".activity.GRTaskDetailsActivity" />
        <activity android:name=".activity.GZTaskDetailsActivity" />
        <activity android:name=".activity.SHTaskDetailsActivity" />
        <activity android:name=".activity.SXTaskDetailsActivity" />
        <activity android:name=".activity.QTTaskDetailsActivity" />
        <activity android:name=".activity.WorkPubActivity" />
        <activity android:name=".activity.PostDetailActivity" />
        <activity android:name=".activity.PubListActivity" />
        <activity android:name=".activity.XieyiActivity" />

        <activity android:name=".activity.MapAddressActivity" />
        <activity
            android:name=".activity.AcceptTaskActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.details_appraise_publish.GRPublishAppraiseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.details_appraise_publish.GZPublishAppraiseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.details_appraise_publish.PTPublishAppraiseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.details_appraise_publish.SHPublishAppraiseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.details_audit_accept.GRAcceptAuditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.details_audit_accept.GZAcceptAuditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.details_audit_accept.PTAcceptAuditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.details_audit_accept.SHAcceptAuditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.details_audit_publish.GRPublishAuditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.details_audit_publish.GZPublishAuditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.details_audit_publish.PTPublishAuditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.details_audit_publish.SHPublishAuditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.details_intask_accept.GRAcceptInTaskActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.details_intask_accept.GZAcceptInTaskActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.details_intask_accept.PTAcceptInTaskActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.details_intask_accept.SHAcceptInTaskActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.details_intask_publish.GRPublishInTaskActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.details_intask_publish.GZPublishInTaskActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.details_intask_publish.PTPublishInTaskActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.details_intask_publish.SHPublishInTaskActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.details_success_accept.GRAcceptSuccessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.details_success_accept.GZAcceptSuccessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.details_success_accept.PTAcceptSuccessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.details_success_accept.SHAcceptSuccessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.details_out_publish.GRPublishOutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.details_out_publish.GZPublishOutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.details_out_publish.PTPublishOutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.details_out_publish.SHPublishOutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.chat.ChatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="com.power.mercenary"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>
           <!-- <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.power.mercenary"
                    android:pathPrefix="/push_message"
                    android:scheme="rong" />
            </intent-filter>-->
        </activity>
        <activity
            android:name=".activity.chat.ChatDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.chat.ChatSearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.chat.ChatPushActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".activity.PostActivity" />
        <activity android:name=".activity.MapSearchActivity" />
        <activity android:name=".activity.PersonalDataActivity" />

        <!-- 百度地图开始 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="ll4x3TgUDXsdkghFMqDXqCMpubFBllYq" />
        <!-- 百度地图结束 -->




        <!-- 友盟第三方登录及分享start -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5b63cc4ea40fa30839000046" />
        <!-- android:value="59b62fe05312dd89f80001f3" /> -->

        <activity
            android:name="com.umeng.socialize.media.WBShareCallBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.sina.weibo.sdk.web.WeiboSdkWebActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.sina.weibo.sdk.share.WbShareTransActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 分享编辑页(只有新浪微博精简版，豆瓣人人腾讯微博领英twitter需要)： -->
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.UMDefault" />
        <!-- 友盟第三方登录及分享end -->

        <activity android:name=".activity.HomeSearchActivity" />
        <activity android:name=".activity.WebActivity" />

        <receiver
            android:name=".push.RCNotificationReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="io.rong.push.intent.MESSAGE_ARRIVED" />
                <action android:name="io.rong.push.intent.MI_MESSAGE_ARRIVED" />
                <action android:name="io.rong.push.intent.MESSAGE_CLICKED" />
                <action android:name="io.rong.push.intent.MI_MESSAGE_CLICKED" />
                <action android:name="io.rong.push.intent.THIRD_PARTY_PUSH_STATE" />
            </intent-filter>
        </receiver>

        <activity android:name=".activity.ShouzeActivity" />
        <activity android:name=".activity.UserShouzeActivity" />
        <activity android:name=".activity.TuiGuangActivity" />
        <activity android:name=".activity.CommitUserInfoActivity" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|keyboardHidden|screenSize"

            android:screenOrientation="portrait" >


        </activity>

    </application>

</manifest>